[Unit]
Description=Logstash ingest conf file service
After=elasticsearch.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/etc/logstash/conf.d/
ExecStart="/opt/logstash/bin/logstash -f /etc/logstash/conf.d/bro/logstash_bro.conf & /opt/logstash/bin/logstash -f /etc/logstash/conf.d/passivedns/logstash_passivednsingest.conf & /opt/logstash/bin/logstash -f /etc/logstash/conf.d/kansa/logstash_kansa_ingest.conf & /opt/logstash/bin/logstash -f /etc/logstash/conf.d/maltrail/logstash_maltrail.conf &"
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
