[Unit]
Description=PassiveDNS logging service
After=elasticsearch.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/oafe/passivedns
ExecStart="/usr/bin/passivedns -i eno1 -S 16 -l /var/log/passivedns/data/passivdns.log -L /var/log/passivedns/data/passivedns-nx.log -P 86400 -X 46CDNOPRSTMnx -D"
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
